<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webank.webase.data.fetcher.audit.mapper.TransAuditMapper">
    <resultMap id="auditInfoMap"
        type="com.webank.webase.data.fetcher.audit.entity.TbTransAudit">
        <id column="id" javaType="java.lang.Integer"
            jdbcType="INTEGER" property="id" />
        <result column="chain_id" javaType="java.lang.Integer"
            jdbcType="INTEGER" property="chainId" />
        <result column="group_id" javaType="java.lang.Integer"
            jdbcType="INTEGER" property="groupId" />
        <result column="keyword" javaType="java.lang.String"
            jdbcType="VARCHAR" property="keyword" />
        <result column="comment" javaType="java.lang.String"
            jdbcType="VARCHAR" property="comment" />
        <result column="tx_hash" javaType="java.lang.String"
            jdbcType="VARCHAR" property="txHash" />
        <result column="address" javaType="java.lang.String"
            jdbcType="VARCHAR" property="address" />
        <result column="type" javaType="java.lang.Integer"
            jdbcType="INTEGER" property="type" />
        <result column="status" javaType="java.lang.Integer"
            jdbcType="INTEGER" property="status" />
        <result column="chain_name" javaType="java.lang.String"
            jdbcType="VARCHAR" property="chainName" />
        <result column="app_name" javaType="java.lang.String"
            jdbcType="VARCHAR" property="appName" />
        <result column="create_time" javaType="java.time.LocalDateTime"
            jdbcType="TIMESTAMP" property="createTime" />
        <result column="modify_time" javaType="java.time.LocalDateTime"
            jdbcType="TIMESTAMP" property="modifyTime" />
    </resultMap>

    <insert id="add">
        insert into tb_trans_audit
        (chain_id,group_id,keyword,comment,tx_hash,address,chain_name,app_name,type,create_time,modify_time)
        values(#{chainId},#{groupId},#{keyword},#{comment},#{txHash},#{address},#{chainName},#{appName},#{type},NOW(),NOW())
        ON DUPLICATE KEY UPDATE 
        keyword=#{keyword},chain_name=#{chainName},app_name=#{appName},type=#{type},modify_time=NOW()
    </insert>
    
    <update id="confirm">
		update tb_trans_audit
		set status = 2,
			modify_time = now()
		where id = #{id}
	</update>

    <select id="getCount" resultType="java.lang.Integer">
        select count(1) from tb_trans_audit
        where 1=1
        <if test="chainId != null">
            and chain_id = #{chainId}
        </if>
        <if test="groupId != null">
            and group_id = #{groupId}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
    </select>

    <select id="getList" resultMap="auditInfoMap">
        select * from tb_trans_audit
         where 1=1
        <if test="chainId != null">
            and chain_id = #{chainId}
        </if>
        <if test="groupId != null">
            and group_id = #{groupId}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        order by status,modify_time desc
        <if test="start != null and pageSize != null">
            limit #{start},#{pageSize}
        </if>
    </select>

    <select id="getAuditInfoById" resultMap="auditInfoMap" parameterType="java.lang.Integer">
        select * from tb_trans_audit where id = #{id}
    </select>

    <select id="getAuditInfoByTxHash" resultMap="auditInfoMap" parameterType="java.lang.String">
        select * from tb_trans_audit where tx_hash = #{txHash}
    </select>

    <delete id="remove" parameterType="java.lang.Integer">
        delete from tb_trans_audit where id = #{id}
    </delete>

</mapper>
