<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webank.webase.data.collect.config.ConfigVersionMapper">
	<resultMap id="versionMap"
		type="com.webank.webase.data.collect.config.entity.TbConfigVersion">
		<id column="id" javaType="java.lang.Integer" jdbcType="INTEGER"
			property="id" />
		<result column="chain_info_version" javaType="java.lang.String"
			jdbcType="VARCHAR" property="chainInfoVersion" />
		<result column="front_info_version" javaType="java.lang.String"
			jdbcType="VARCHAR" property="frontInfoVersion" />
		<result column="group_info_version" javaType="java.lang.String"
			jdbcType="VARCHAR" property="groupInfoVersion" />
		<result column="user_info_version" javaType="java.lang.String"
			jdbcType="VARCHAR" property="userInfoVersion" />
		<result column="contract_info_version" javaType="java.lang.String"
			jdbcType="VARCHAR" property="contractInfoVersion" />
		<result column="create_time" javaType="java.time.LocalDateTime"
			jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_time" javaType="java.time.LocalDateTime"
			jdbcType="TIMESTAMP" property="modifyTime" />
	</resultMap>

	<insert id="add">
		insert into tb_config_version
		(chain_info_version,front_info_version,group_info_version,user_info_version,contract_info_version,create_time,modify_time)
		values(#{chainInfoVersion},#{frontInfoVersion},#{groupInfoVersion},#{userInfoVersion},#{contractInfoVersion},NOW(),NOW())
	</insert>

	<update id="update">
		update tb_config_version
		set chain_info_version = #{chainInfoVersion},
		  front_info_version = #{frontInfoVersion},
		  group_info_version = #{groupInfoVersion},
		  user_info_version = #{userInfoVersion},
		  contract_info_version = #{contractInfoVersion},
		  modify_time = now()
		where id = #{id}
	</update>

	<select id="getTbConfigVersion" resultMap="versionMap">
		select * from tb_config_version
	</select>

</mapper>
