<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.webase.data.collect.contract.MethodMapper">
	<resultMap id="tbMethodMap"
		type="com.webank.webase.data.collect.contract.entity.TbMethod">
		<id column="id" javaType="java.lang.Integer" jdbcType="INTEGER"
			property="id" />
		<result column="contract_id" javaType="java.lang.Integer"
			jdbcType="INTEGER" property="contractId" />
		<result column="chain_id" javaType="java.lang.Integer"
			jdbcType="INTEGER" property="chainId" />
		<result column="group_id" javaType="java.lang.Integer"
			jdbcType="INTEGER" property="groupId" />
		<result column="method_id" javaType="java.lang.String"
			jdbcType="VARCHAR" property="methodId" />
		<result column="method_name" javaType="java.lang.String"
			jdbcType="VARCHAR" property="methodName" />
		<result column="abi_info" javaType="java.lang.String" jdbcType="VARCHAR"
			property="abiInfo" />
		<result column="method_type" javaType="java.lang.String"
			jdbcType="VARCHAR" property="methodType" />
		<result column="create_time" javaType="java.time.LocalDateTime"
			jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_time" javaType="java.time.LocalDateTime"
			jdbcType="TIMESTAMP" property="modifyTime" />
	</resultMap>
	
	<resultMap id="methodInfoMap"
		type="com.webank.webase.data.collect.contract.entity.MethodInfo">
		<result column="method_id" javaType="java.lang.String"
			jdbcType="VARCHAR" property="methodId" />
		<result column="method_name" javaType="java.lang.String"
			jdbcType="VARCHAR" property="methodName" />
		<result column="abi_info" javaType="java.lang.String" jdbcType="VARCHAR"
			property="abiInfo" />
		<result column="method_type" javaType="java.lang.String"
			jdbcType="VARCHAR" property="methodType" />
		<result column="contract_name" javaType="java.lang.String"
			jdbcType="VARCHAR" property="contractName" />
		<result column="contract_type" javaType="java.lang.Integer"
			jdbcType="INTEGER" property="contractType" />
	</resultMap>

	<insert id="add"
		parameterType="com.webank.webase.data.collect.contract.entity.TbMethod">
		REPLACE INTO
		tb_method(contract_id,chain_id,group_id,method_id,method_name,abi_info,method_type,create_time,modify_time)
		VALUES
		(#{contractId},#{chainId},#{groupId},#{methodId},#{methodName},#{abiInfo},#{methodType},now(),now())
	</insert>

	<select id="getMethodById" resultMap="methodInfoMap">
		SELECT t1.method_id as methodId,
			   t1.method_name as methodName,
			   t1.abi_info as abiInfo,
			   t1.method_type as methodType,
			   t2.contract_name as contractName,
			   t2.contract_type as contractType,
		FROM tb_method t1,tb_contract t2
		WHERE t1.method_id = #{methodId}
		  AND t1.contract_id = t2.contract_id
		<if test="chainId != null">
			and t1.chain_id = #{chainId}
		</if>
		<if test="groupId != null">
			and t1.group_id = #{groupId}
		</if>
		limit 1
	</select>

	<delete id="removeByChainIdAndGroupId">
		delete from tb_method
		where chain_id=#{chainId}
		<if test="groupId != null">
			and group_id = #{groupId}
		</if>
	</delete>
</mapper>