<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对应mapper接口 -->
<mapper namespace="com.webank.webase.data.collect.user.UserMapper">
	<resultMap id="userMap"
		type="com.webank.webase.data.collect.user.entity.TbUser">
		<id column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER"
			property="userId" />
		<result column="user_name" javaType="java.lang.String"
			jdbcType="VARCHAR" property="userName" />
		<result column="address" javaType="java.lang.String" jdbcType="VARCHAR"
			property="address" />
		<result column="description" javaType="java.lang.String"
			jdbcType="VARCHAR" property="description" />
		<result column="create_time" javaType="java.time.LocalDateTime"
			jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_time" javaType="java.time.LocalDateTime"
			jdbcType="TIMESTAMP" property="modifyTime" />
	</resultMap>

	<insert id="addUserRow" parameterType="com.webank.webase.data.collect.user.entity.TbUser">
		insert into
		tb_user(user_name,address,description,create_time,modify_time)
		values(#{userName},#{address},#{description},NOW(),NOW())
		<selectKey keyProperty="userId" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<select id="queryUser"
		parameterType="com.webank.webase.data.collect.user.entity.UserParam"
		resultMap="userMap">
		select * from tb_user where 1=1
		<if test="userId != null">
			and user_id = #{userId}
		</if>
		<if test="userName != null and userName != ''">
			and user_name = #{userName}
		</if>
		<if test="address != null and address != ''">
			and address = #{address}
		</if>
		limit 1
	</select>

	<select id="countOfUser"
		parameterType="com.webank.webase.data.collect.user.entity.UserParam"
		resultType="java.lang.Integer">
		select count(1) from tb_user where 1=1
		<if test="userId != null">
			and user_id = #{userId}
		</if>
		<if test="userParam != null and userParam != ''">
			and user_name like CONCAT(#{userParam},'%')
			or address like CONCAT(#{userParam},'%')
		</if>
	</select>

	<select id="listOfUser"
		parameterType="com.webank.webase.data.collect.user.entity.UserParam"
		resultMap="userMap">
		select * from tb_user where 1=1
		<if test="userId != null">
			and user_id = #{userId}
		</if>
		<if test="userParam != null and userParam != ''">
			and user_name like CONCAT(#{userParam},'%')
			or address like CONCAT(#{userParam},'%')
		</if>
		order by user_id desc
		<if test="start != null and pageSize != null">
			limit #{start},#{pageSize}
		</if>
	</select>

	<delete id="deleteByUserId" parameterType="java.lang.Integer">
		delete from tb_user
		where user_id = #{userId}
	</delete>

</mapper>